# +-----------------------------------------------------+
# |                                                     |
# |               Basic Java Settings                   |
# |                                                     |
# +-----------------------------------------------------+
# Display the console log by setting to true
showConsole false


# Tune this VM to provide enough headroom to work on large applications
vmparam -Xmx8192m
vmparam -Djava.library.path=../shared/lib
vmparam -DLooseVersionCheck=true
vmparam -DDisable.DbfFileHandling=true

# To run a particular JVM without a DOS window uncomment and 
# specify the path to javaw.exe
javapath ../shared/java64/bin/java

# To override the default heap growth/shrinkage rates uncomment the following
#vmparam -Xmaxf0.2
#vmparam -Xminf0.2
#vmparam -Xdebug -Xrunjdwp:server=y,transport=dt_socket,address=4000,suspend=n

# Force standard VM settings for all applications
vmparam -Xverify:none

# Lookup needs this currently for Java 17+
addopens java.base/java.net=ALL-UNNAMED
addopens java.base/java.lang=ALL-UNNAMED

# +-----------------------------------------------------+
# |                                                     |
# |                      Logging                        |
# |                                                     |
# +-----------------------------------------------------+
# Send the System.out and System.err to a log file  
# for CWMS clients
vmparam -DLOGFILE=$TEMP/logs/rts.log

# Logging settings to CWMS\config\properties
vmparam -Djava.util.logging.config.file=./config/properties/logging.properties

# Enable additional logging for database timeseries store/retrieve
#vmparam -Dcwms.dbi.message_level=5


#Allows multiple instances of RTS running simultaneously to write to unique log files, identified by the process ids
vmparam -DLogFileHasPid=false

# +-----------------------------------------------------+
# |                                                     |
# |                     Program                         |
# |                                                     |
# +-----------------------------------------------------+
# Specify the Application's main class
mainclass usace.cavi.client.CAVI

#:------------------------------------------------------:
#: Defines the title bar of the console window          :
#:------------------------------------------------------:
consoleTitle HEC-RTS 3.6.0

vmparam -DCWMS_HOME=.
vmparam -DNoDxXsdValidation=true
vmparam -DPLUGINS=../CWMS-VUE/jar/ext;jar/ext
vmparam -Djavax.net.ssl.cwms.trustStore=../shared/config/CWMSServerCert.ts
#vmparam -Djavax.net.debug=ssl

# +-----------------------------------------------------+
# If an application has a preference to only use IPv4
# sockets then this property can be set to true.
# The implication is that the application will not be
# able to communicate with IPv6 hosts.
# +-----------------------------------------------------+
vmparam -Djava.net.preferIPv4Stack=true

#:------------------------------------------------------:
#vmparam -Dpython.cachedir.skip=false
#: The above line may reduce NameErrors from occurring  :
#: in Jython scripts that use wildcard imports.         :
#: In CWMS 3.2.1 the Jython version has been upgraded   :
#: to 2.7.0. In this version, by default, import * does :
#: not function as it used to in prior versions.        :
#: Modelers are strongly encouraged to remove wildcards :
#: from their script imports, and contact HEC for       :
#: assistance with the Java API as needed.              :
#: Using explicit import statements is good practice,   :
#: avoids future compatibility issues, and improves     :
#: script execution times.  Activating the "skip"       :
#: line above may allow existing scripts to compute     :
#: successfully, and provide flexibility to defer       :
#: script updates if necessary.                         :
#:------------------------------------------------------:


# Load the RegiTools Rating Editor
vmparam -Dhec.data.cwmsRating.RatingSet.databaseLoadMethod=eager

vmparam -DUSE_TABBED
vmparam -Dcwmsvue.ratings.tab.disabled=true
vmparam -Dcwmsvue.levels.tab.disabled=true
vmparam -Dcwmsvue.locgroups.tab.disabled=true
vmparam -Dcwmsvue.tsgroups.tab.disabled=true
vmparam -Dcwmsvue.locations.tab.disabled=true
vmparam -Dcwmsvue.measurements.tab.disabled=true
vmparam -Dcwmsvue.timeserieslegacy.tab.disabled=false
vmparam -Dcwms.interval.localregular.new.enabled=false

# Turn on DSS Collection data 
vmparam -DCOLLECTION

vmparam -Doracle.metrics.clientid="CWMS CAVI Connection"
vmparam -Dhttp.agent="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.0)"

# Turn on the Dashboard
vmparam -Dcavi.netbeans.platformdir=./module/Dashboard

# DSSVue and CWMSVue script location
vmparam -Dscripts.directory=$APPDATA/HEC/HEC-DSSVue/scripts

vmparam -Djava.security.policy=../shared/config/java.policy
vmparam -Djava.rmi.server.hostname=127.0.0.1
vmparam -Dcom.sun.media.jai.disableMediaLib=true
vmparam -Djna.tmpdir=C:/Temp/cwms/temp

# Runs embedded DSSVue instead of the installed version
vmparam -DUseEmbeddedDssVue=true

# Java 8 Swing bug - need to turn off the just-in-time compiler for the GlyphView class 
# getBreakSpot method. Throws an exception that causes an endless loop.  Remove when 
# Oracle fixes.
#vmparam -XX:CompileCommand=exclude,javax/swing/text/GlyphView,getBreakSpot

# +-----------------------------------------------------+
# |                                                     |
# |     Database, Connections, and Server Settings      |
# |                                                     |
# +-----------------------------------------------------+
# The following switches instruct the application to perform
# keep-alive pings on connections to the Oracle database.  The hash
# character should be deleted from the cwms.connection.persist line   
# in order to enable keep-alive pings. If database issues occur when
# this setting enabled, disable it by adding back the hash character
# to the front of the line.    
#vmparam -Dcwms.connection.persist=true
# These further properties allow for non-default timing to be used for 
# the keep alive. It is recommended that you do not change these 
# properties initially and see if the default settings work.  To enable
# these properties, remove the hash character as was done above.     
# The first property controls how often the check for keep-alive occurs, 
# it defaults to 300 seconds, 5 minutes. 
#vmparam -Dcwms.connection.recycle.seconds=300
# The second property sets the maximum amount of time that will occur 
# before an idle connection has a keep-alive performed.  This defaults 
# to 150 seconds, 2.5 minutes.
#vmparam -Dcwms.connection.refresh.timeout.seconds=150


# Turn off server side access control list checking for file manager 
# needed for gridgain computes which start a file manager
#vmparam -DnoServerSideSecurity=true

vmparam -Dsun.rmi.server.exceptionTrace=true

# Setting to use the loopback so that the Corps PC firewall doesn't
# keep the RTS from communicating to the plugins
vmparam -Djava.rmi.server.hostname=127.0.0.1
vmparam -Doracle.caching.openallconnections=true

# This uses the windows cert store so DoD WCF certs can be trusted.
vmparam -Djavax.net.ssl.trustStoreType=Windows-ROOT
vmparam -Djavax.net.ssl.trustStore=NONE
vmparam -Dcwms.openid.cwms.idp.hint=federation-eams

# +-----------------------------------------------------+
# |                                                     |
# |              Graphical Issues                       |
# |                                                     |
# +-----------------------------------------------------+  
# Set Java to not use hardware acceleration. Some multiple monitor configurations
# display RTS windows as black screens when dragging between monitors, because the
# monitors are using different video cards. The following lines fix the issue.  
vmparam -Dsun.java2d.d3d=false
vmparam -Dsun.java2d.nodraw=true

# Turn off the MediaLib functionality.  It is only used for 32-bit
# to help load the internet maps faster 
vmparam -Dcom.sun.media.jai.disableMediaLib=true

vmparam -DschedulerEntries.directory=$APPDATA\CWMS\CAVI\scheduler

# Turn on software rendering for JavaFX
vmparam -Dprism.order=sw

# +-----------------------------------------------------+
# |                                                     |
# |               Add jars and class paths              |
# |                                                     |
# +-----------------------------------------------------+
addpath classes

addjar ../HEC-HMS/lib/hms-command-1.1.jar
addjars ../shared/jar
addjars ../shared/jar/sys
addjars jar/ext
addjars ../CWMS-Vue/jar/ext

vmparam --module-path ../shared/jar/modules
vmparam --add-modules ALL-MODULE-PATH

# +-----------------------------------------------------+
# |                                                     |
# |       Adds a Personal Configuration File to         |
# |       to add/change/override settings in this       |
# |       configuration file		                    |
# |                                                     |
# +-----------------------------------------------------+
include $APPDATA\CWMS\PersonalConfigs\CAVI-Personal.config

# Enable to send the parameter to MetVue to print detailed
# startup timings to the MetVue IDE Log. Useful for tracking down
# startup time issues in MetVue.
# vmparam -DMetVuePlugin.printMVStartupTimings=true

# Enable to send the parameter to MetVue to enable Java Flight Recorder when launched as a plugin
# This can be useful to capture performance data for MetVue when running as a plugin
# vmparam -DMetVuePlugin.enableJFR=true

# Need a space after last line
